* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* MAIN APP CONTAINER */

.container {
  min-height: 100vh;

  background-color: #121212;

  display: flex;
  flex-direction: column;
}


/* CONTENT AREA */

.content {
  flex: 1;

  padding: 20px;
}

/* NAVBAR */

.nav-container {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;

  background-color: #0f0f0f;

  position: sticky;
  
  top: 0;

  z-index: 1000;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}


/* LOGO */

.nav-container h2 {
  color: crimson;

  font-size: 28px;

  cursor: pointer;
}


/* MENU */

.nav-menu {
  display: flex;

  gap: 30px;
}


/* LINKS */

.nav-menu a {
  text-decoration: none;

  color: white;

  font-size: 16px;
  font-weight: 500;

  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: crimson;
}


/* SEARCH BAR */

.search-bar {
  display: flex;

  align-items: center;

  gap: 10px;
}


/* INPUT */

.search-bar input {
  padding: 10px 15px;

  width: 250px;

  border: none;
  outline: none;

  border-radius: 6px;

  font-size: 14px;

  background-color: #1f1f1f;
  color: white;
}


/* BUTTON */

.search-bar button {
  padding: 10px 15px;

  border: none;

  border-radius: 6px;

  background-color: crimson;
  color: white;

  cursor: pointer;

  font-weight: 600;

  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: rgb(180, 10, 44);
}


/* RESPONSIVE */

@media screen and (max-width: 768px) {

  .nav-container {
    flex-direction: column;

    gap: 20px;

    padding: 20px;
  }

  .nav-menu {
    gap: 15px;

    flex-wrap: wrap;

    justify-content: center;
  }

  .search-bar {
    width: 100%;

    justify-content: center;
  }

  .search-bar input {
    width: 100%;
    max-width: 300px;
  }
}

/* HOME PAGE */

.home {
  padding: 20px;
  background-color: #121212;
  min-height: 100vh;
}


/* TITLE */

.home h1 {
  color: white;
  margin-bottom: 30px;
}


/* GRID */

.movies-grid {
  display: grid;

  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

  gap: 20px;
}


/* CARD */

.movie-card {
  background-color: #1e1e1e;

  border-radius: 10px;

  overflow: hidden;

  transition: 0.3s;

  width: 100%;
}

.movie-card:hover {
  transform: scale(1.03);
}


/* IMAGE */

.movie-card img {
  width: 100%;
  /* height: 320px; */

  object-fit: contain;
}


/* INFO */

.movie-info {
  padding: 15px;
  color: white;
}

.movie-info h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.movie-info p {
  margin-bottom: 10px;
}


/* BUTTON */

.movie-info button {
  padding: 8px 12px;

  border: none;

  background-color: crimson;
  color: white;

  border-radius: 5px;

  cursor: pointer;
}

.movie-details-page {
  padding: 30px;

  background-color: #121212;

  min-height: 100vh;

  color: white;
}


/* MOVIE SECTION */

.movie-details-section {
  display: flex;

  gap: 40px;

  margin-bottom: 50px;
}

.movie-details-section img {
  width: 300px;

  border-radius: 10px;
}

.movie-content {
  flex: 1;
}

.movie-content h1 {
  margin-bottom: 20px;
}

.movie-content p {
  margin-bottom: 15px;

  line-height: 1.6;
}


/* CAST */

.cast-section h2 {
  margin-bottom: 25px;
}

.cast-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(180px, 1fr));

  gap: 20px;
}


/* CAST CARD */

.cast-card {
  background-color: #1e1e1e;

  border-radius: 10px;

  overflow: hidden;

  text-align: center;

  padding-bottom: 15px;
}

.cast-card img {
  width: 100%;

  height: 250px;

  object-fit: cover;
}

.cast-card h3 {
  margin-top: 15px;

  font-size: 16px;
}

.cast-card p {
  color: #bdbdbd;

  margin-top: 5px;
}


/* RESPONSIVE */

@media screen and (max-width: 768px) {

  /* .movies-grid {
    grid-template-columns: repeat(2, 1fr);
  } */

  .movie-details-section {
    flex-direction: column;
  }

  .movie-details-section img {
    width: 100%;
    max-width: 350px;
  }
}